<div class="step-wrapper">
  <div class="step-waypoint">
  </div>
  <div class="step" id="step-<%= step.id %>">
    <% if editable? %>
      <div class="step-position">
        <%= link_to up_step_path(step), method: :post, remote: true, class: "step-up" do %>
          <i class="fa fa-angle-up"></i>
        <% end %>
        <%= link_to down_step_path(step), method: :post, remote: true, class: "step-down" do %>
          <i class="fa fa-angle-down"></i>
        <% end %>
      </div>
    <% end %>
    <div class="step-content">
      <div class="row">
        <div class="col-xs-6">
          <h4>
            <%= step.title %>
            <% if step.category.present? %>
              <small>
                <span class="label label-primary"><%= step.category.name %></span>
              </small>
            <% end %>
          </h4>
          <p class="text-muted"><%= step.address %></p>
        </div>
        <div class="col-xs-6 text-right">
        </div>
      </div>
    </div>
    <% if editable? %>
      <div class="step-actions">
        <%= link_to step_path(step), method: :delete, remote: true, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette étape ?"} do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <% unless editable? or step.last? %>
  <p class="step-distance"><span><i class="fa fa-road"></i> <%= step.distance_with_next_step.round(2) if step.distance_with_next_step %> km</span></p>
  <% end %>
</div>