<h3 class="text-center itineraire-title">Itinéraires autour de <%= params[:destination] %></h3>

<p class="text-center">
  <%= link_to "Nouvel itinéraire sur #{params[:destination]}", new_timeline_path() + "?destination=#{params[:destination]}", class: "btn btn-primary btn-sm"  %>
</p>

<hr>

<% unless @timelines.any? %>
  <h3 class="text-muted text-center">
    <i class="fa fa-cloud motorcycle-smoke"></i>
    <i class="fa fa-motorcycle motorcycle-club"></i>
    <br>
    <em class="slim">
      Pas d'itinéraire pour le moment, voulez vous en créer un ?
    </em>
  </h3>
<% end %>
<% @timelines.each do |timeline| %>
  <div class="infotimeline">
    <span><h6 class="destination-title">- <%= timeline.title %></h6></span>
    <span><h6 class="startdate">Début : <%= timeline.start_date.strftime('%v') %></h6></span>
    <span><h6 class="enddate">Fin : <%= timeline.end_date.strftime('%v') %></h6></span>
    <h5><%= link_to "Détails", timeline_path(timeline),class: "btn-perso" %></h5>
  </div>
  <hr>
<% end %>
