


  <div class="timelineshow">
    <h3 class="text-center"><%= @timeline.title %></h3>
  </div>

  <div class="infotimeline">
    <span><h6 class="destination-title">Destination : <%= @timeline.destination %></h6></span>
    <span><h6 class="startdate">Début : <%= @timeline.start_date.strftime('%v') %></h6></span>
    <span><h6 class="enddate">Fin : <%= @timeline.end_date.strftime('%v') %></h6></span>
    <span><h6 class="destination-title">Budget = <strong><%= @timeline.budget %> €</strong></h6></span>
  </div>

<div class="container-fluid">
  <div class="row">

  <div class="col-xs-5">
    <% @timeline.steps.each do |step| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_url 'background.jpeg' %>);">
      <div class="card-category label label-primary"><%= step.category.name %></div>
      <div class="card-description">
        <h2><%= step.title %></h2>
        <p>Adresse : <%= step.address %></p>
      </div>
      </div>


    <% end %>
  </div>

    <div class="col-xs-7">
      <div id="map" style="width: 90%; height: 500px;"></div>
    </div>

  </div>
</div>





<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>


<h5><%= link_to "back", timelines_path(@timeline),class: "btn btn-primary" %></h5>



