<h3 class="text-center"><%= @timeline.title %></h3>

  <div class="text-center">
    <h5>Destination : <%= @timeline.destination %></h5>
    <p>Begin on = <%= @timeline.start_date.strftime('%v') %></p>
    <p>End on = <%= @timeline.end_date %></p>
    <p>Budget = <%= @timeline.budget %> €</p>
    <h5><%= link_to "back", timelines_path(@timeline),class: "btn btn-primary" %></h5>
  </div>


<% @timeline.steps.each do |step| %>
  <div class="text-center">
    <h5><%= step.title %> </h5>
    <p><%= step.address %></p>
    <p>Scheduled on = <%= step.scheduled_at %></p>
    <p><%= step.category %></p>
  </div>
<% end %>




  <div id="map" style="width: 50%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    })
  <% end %>
<% end %>



